*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    height: 100vh;
    place-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page{
    border: 1px solid;
    border-radius: 10px;
    padding: 25px 50px 50px 50px;
}
.contents{
    border-top: 1px solid ;
    padding-top: 20px;
}

h3{
    color:green;
    margin-bottom: 10px;
    margin-top: 10px;
}
h4{
    color: blue;
    margin-top: 5px;
    margin-bottom: 5px;
}